<p class="login-header text-center">Диаграммы</p>
<hr>
<form>
    <div class="panel panel-default login-wrapper">
        <div class="panel-body ">
            <div class="form-group">
                <label class="login-p">E-mail:</label>
                <input type="email" class="form-control login-form" placeholder="Введите ваш e-mail">
            </div>
            <div class="form-group">
                <label class="login-p">Password:</label>
                <input type="password" class="form-control login-form" placeholder="Придумайте пароль">
            </div>
            <button type="button" class="btn btn-default login-button">Войти</button>
            <a class="login-link" href="#">Регистрация</a>
        </div>
    </div>
</form>