<div class="panel panel-default wrapper yes-no-wrapper">
    <div class="panel-body">
        <p class="ca-main questions yes-no-questions">У Вас когда-нибудь была боль в симметричных мелких суставах пальцев, кистей, стоп? У Вас когда-нибудь была боль в симметричных мелких суставах пальцев, кистей, стоп? У Вас когда-нибудь была боль в симметричных мелких суставах пальцев, кистей, стоп?</p>
        <div class="center-block">
            <button type="button" class="btn btn-default buttons yes-no">Да</button>
            <button type="button" class="btn btn-default buttons yes-no">Нет</button>
        </div>
    </div>
</div>