<div class="panel panel-default wrapper">
    <div class="panel-body">
        <p class="ca-main questions">Спасибо, что приняли участие в опросе!</p>
        <div class="center-block">
            <button type="button" class="btn btn-default buttons finish-button">Завершить опрос</button>
        </div>
    </div>
</div>