<p class="login-header text-center">Регистрация</p>
<hr>
<form>
    <div class="panel panel-default registration-wrapper">
        <div class="panel-body ">
            <div class="form-group">
                <label class="login-p">Имя:</label>
                <input type="text" class="form-control login-form" placeholder="Введите Ваше имя">
            </div>
            <div class="form-group">
                <label class="login-p">Фамилия:</label>
                <input type="text" class="form-control login-form" placeholder="Введите Вашу фамилию">
            </div>
            <div class="form-group">
                <label class="login-p">Отчество:</label>
                <input type="text" class="form-control login-form" placeholder="Введите ваше отчество">
            </div>
            <div class="form-group">
                <label class="login-p">Телефон:</label>
                <input type="text" class="form-control login-form" placeholder="Введите ваш телефон">
            </div>
            <div class="form-group">
                <label class="login-p">E-mail:</label>
                <input type="email" class="form-control login-form" placeholder="Введите ваше e-mail">
            </div>
            <div class="form-group">
                <label class="login-p">Пароль:</label>
                <input type="password" class="form-control login-form" placeholder="Придумайте пароль">
            </div>
            <div class="form-group">
                <label class="login-p">Подтверждение пароля:</label>
                <input type="password" class="form-control login-form" placeholder="Повторите пароль">
            </div>
            <button type="button" class="btn btn-default login-button">Зарегистрироваться</button>
        </div>
    </div>
</form>
